.navbar-transparent {
    background-color: transparent !important; /* Makes the background transparent */
    border-bottom: none; /* Optional: removes the bottom border if present */
}

.nav-link {
    color: white !important; /* Adjusts the color of the nav links for visibility */
}

.nav-link:hover {
    color: #ddd !important; /* Hover effect for better visibility */
}

body {
  --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}