html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.hero-section {
    background-image: url('/img/Stock.jpeg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}
.imagenes{
    display: flex;
    justify-content: center;
    
}

.footer #kittyfoot{
    
}
